#subtitle {
    font-weight: normal;
    font-size: 10pt;
}

.title {
    font-size: 20pt!important;
    margin-left: 15px;
}

.unselectable {
    -webkit-user-select: none;
    cursor: default;
}

.icon {
    font-size: 18pt!important;
}

.action {
    color: black;
    margin-left: 5px;
}

.row .col {
    padding: 0 0.45rem;
}

.row .col.s3 {
    width: 24%;
}

#cards {
    margin-left: 0.55%;
    margin-top: 10px;
}

.card {
    margin: 0.5rem 0.5rem 0.01rem 0;
}

.card .card-action {
    padding: 10px;
}

.card .card-image {
    margin-top: 7.5px;
}

.card .card-image img {
    height: 100%;
}

#loading {
    display: none;
    margin-top: 200px;
}